<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UNES - {{ title }} {% endblock %}</title>
    <link rel="stylesheet" href="static/style.css">
</head>
    <header class="header">
        <img src="static/img/logo.png" alt="logo.png">
        <div class="home">
            <ul class="links">
                <li><a href="/home">Home</li></a><em>|</em>
                <li><a href="/quemSomos">Quem Somos</li></a><em>|</em>
                <li><a href="/contato">Contato</a></li><em>|</em>
                <li><a href="/informacoes">Informações</a></li>
            </ul>
        </div>
    </header>

    <div class="conteudo">
 
        {% block content %}

        {% endblock %}

    </div>
    
</html>