{% extends "base.html" %}

    {% block content %}
    <body background="static/img/fundo2.jpeg">
        <h3>
            Entre em contato
        </h3>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam ipsa earum atque aspernatur at pariatur, aut dignissimos. Ex tempore commodi nostrum, quisquam voluptatum sint! Repellat ipsa hic est modi ut.
        </p>
        <hr>
        <div class="formulario">
            <form action="{{url_for('routes.contato')}}" method="POST">
                <label for="email">Email:</label>
                <br>
                <input type="text" name="email" id="email" placeholder="email@email.com">
                <br>
                <label for="assunto">Assunto:</label>
                <br>
                <input type="text" name="assunto" id="assunto">
                <br>
                <label for="descricao">Descrição:</label>
                <br>
                <textarea name="descricao" id="descricao" cols="25" rows="3"></textarea>
                <br>
                <input type="submit" value="Enviar">
            </form>
        </div>
        <br><br><br>
        <h4>Todos os direitos reservados.</h4>
    </body>

    {% endblock %}