{% extends "base.html" %}

    {% block content %}
    <body background="static/img/fundo.jpeg">
        <img src="static/img/tecnologia.jpeg" alt="capa">
            <h1>Sobre a universidade</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, natus aliquam deserunt nisi suscipit iure voluptatum dignissimos quam eligendi ducimus. Doloremque exercitationem, quod aliquid provident obcaecati ipsa! Culpa, laboriosam omnis? 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet fuga nihil error dolorum atque delectus architecto hic, eos ullam sint consectetur, dignissimos tempora asperiores a quidem facilis beatae nemo sequi?
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, natus aliquam deserunt nisi suscipit iure voluptatum dignissimos quam eligendi ducimus. Doloremque exercitationem, quod aliquid provident obcaecati ipsa! Culpa, laboriosam omnis? 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet fuga nihil error dolorum atque delectus architecto hic, eos ullam sint consectetur, dignissimos tempora asperiores a quidem facilis beatae nemo sequi?
            </p>
            <h4>
                Todos os direitos reservados.
            </h4>
    </body>
    {% endblock %}
