{% extends "base.html" %}

    {% block content %}
    <body background="static/img/fundo2.jpeg">
        <h3>
            Visualize abaixo as informações de contato:
        </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum facilis odit itaque recusandae ipsam veritatis, quibusdam praesentium quod error molestiae eligendi qui temporibus, soluta sequi quaerat unde magnam distinctio libero!
        </p>
        <hr>
        
        <table class="tabela">
        <tr>
          <th>Email</th>
          <th>Assunto</th>
          <th>Descrição</th>
        </tr>
        {% for i in range(num) %}
        <tr>
            <td> {{ email[i] }} </td>
            <td> {{ assunto[i] }} </td>
            <td> {{ descricao[i] }} </td>
        </tr>
            {% endfor %}
      </table>

        <br><br><br>
        <h4>Todos os direitos reservados.</h4>
    </body>

    {% endblock %}