.home {
    list-style: none;
    display: inline;
    float: right;
}

.home li {
    display: inline;
    margin: 10px;
}

.form {
    text-align: start;
}

.conteudo img {
    justify-content: center;
    width: 900px;
    height: 294px;
    margin-top: 5px;
}

.conteudo {
    justify-content: center;
    width: 900px;
    height: 290px;
    margin: auto;   
}

.tabela {
    justify-content: space-between;
    width: 100%;
}

th {
    background-color: #00095c;
    color: white;
    height: 25px;
}

th, td {
    border-bottom: 1px solid black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


h4 {
    text-align: center;
}